// ==========================================================================
// = Variables
// ==========================================================================
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-phone: 320px;

$content-max-width: 1230px;
$content-padding: 20px;

// black and white
$color-white: #fff;
$color-black: #000;

// custom colors
$color-background: #13151a;
$color-background-dark: #20191b;
$color-header: #252525;
$color-body: $color-white;
$color-primary: #c83860;
$color-primary-tinted: #c8386033;
$color-primary-light: #e06c8c;
$color-primary-lighter: #f8a0b8;
$color-primary-dark: #9c2c4a;
$color-primary-darker: #701f35;
$color-primary-gradient: linear-gradient(45deg, $color-primary, $color-primary 30%, $color-white 60%);
// $color-secondary: #faf6e2;
$color-secondary: #eae7de;
$color-error: #d50042;

//social media
$color-github: #6e5494;
$color-facebook: #3b5998;
$color-instagram: #C13584;
$color-linkedin: #0e76a8;

// transition
$transition-timing: ease-in-out .3s;