:root {
--content-area-padding-y: 1.5em;

   @include for-tablet-portrait-up {
      --content-area-padding-y: 3em;
   }
}

* {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

html, body {
   height: 100%;
}

html {
   color: $color-body;
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   font-size: 10px;
}

main {
flex-grow: 1;
   // min-height: 100%;
}

body {
   background-color: #13151a;
   display: flex;
   flex-direction: column;
   margin: 0;
   min-height: 100vh;
   padding: 0;
}

hgroup {
   display: flex;
   flex-direction: column-reverse;
}

.inner {
   margin: 0 auto;
   max-width: $content-max-width - (2 * $content-padding);
   padding: 0 $content-padding;

   @include for-tablet-landscape-up {
      padding: 0 calc($content-padding * 5);
   }

   @include for-desktop-up {
      padding: 0 calc($content-padding * 4);
   }

   @include for-big-desktop-up {
      padding: 0 $content-padding;
   }
}

.content-area {
   padding: var(--content-area-padding-y) 0;

   &--default {
      &+& {
         padding-top: 0;
      }
}

>.inner {
   >h2.text-center {
      margin-left: auto;
      margin-right: auto;

      @include for-tablet-landscape-up {
         margin-bottom: 1.25em;
      }
   }
}

.content-area {
   padding-bottom: 0;
}
}

picture {
   display: block;
   height: 100%;
}

img {
   height: auto;
   width: 100%;
}

.link {
   color: $color-primary;
   margin-block: 2rem;
}

code {
   font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
}