@import './_base.scss';
@import './_mixins.scss';
@import './_functions.scss';

.form-group {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-bottom: 1.5rem;
   width: 100%;
}

.form-label {
   color: $color-primary;
   font-weight: 500;
   line-height: 1.5;
   margin-block-end: 1rem;
}

.form-control {
   @include responsive-font-size(1.6rem, 1.7rem);
   border: 2px solid transparent;
   border-radius: 5px;
   color: $color-black;
   font-family: 'IBMPlexSans', system-ui, sans-serif;
   line-height: 1.5;
   outline: none;
   padding: 0.5rem 1rem;
   transition: background-color 0.2s, border 0.2s;
   width: 100%;

   &:hover,
   &:focus,
   &:active {
      border: 2px solid $color-primary;
   }
}