---
import Layout from '../layouts/Layout.astro';
import CareerGrid from '../components/career/CareerGrid.astro';
---

<Layout
  title="Portfolio | Career | Duc Anh Dennis Nguyen | DepTrai"
  metaDescription="This is my portfolio page and here is an overview of my career stations."
>
  <div class="content-area">
    <div class="inner">
      <div id="career" class="section-header">
        <h1 class="sr-only">This is an overview of my career stations</h1>
        <h2>My Career</h2>
      </div>
      <p>
        I am a professional frontend developer still at the beginning of my
        career
      </p>
      <p>
        I am always looking for new challenges and even while I am not working
        in a professional environment I am learning new things.
      </p>
      <p>
        While I am not proficient in backend development yet, I am still
        learning and I am confident that I will become a full-stack developer in
        the near future.
      </p>
      <section>
        <CareerGrid />
      </section>
    </div>
  </div>
</Layout>
