---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import profileImage from '../assets/img/portfolio-portrait.jpg';
import ButtonLink from '../components/button/ButtonLink.astro';
---

<script>
  const thresholds = [0.1, 0.3, 0.5, 0.7, 0.9];
  const observerOptions = {
    root: null,
    rootMargin: '0px',
    threshold: thresholds,
  };

  function setupIndexPage() {
    const elements = [
      'h1',
      '.subheading',
      '.info',
      '.underline',
      '.portfolio-photo',
      '.introduction',
    ];

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('fade-in');
          observer.unobserve(entry.target);
        }
      });
    }, observerOptions);

    function observeElements() {
      elements.forEach((selector, index) => {
        const element = document.querySelector(selector);
        if (element) {
          element.classList.remove('fade-in');

          setTimeout(() => {
            observer.observe(element);
          }, index * 100);
        }
      });
    }

    observeElements();

    return () => {
      elements.forEach((selector) => {
        const element = document.querySelector(selector);
        if (element) {
          observer.unobserve(element);
        }
      });
    };
  }

  document.addEventListener('astro:page-load', setupIndexPage);

  // Cleanup on navigation away
  document.addEventListener('astro:before-preparation', () => {
    const cleanup = setupIndexPage();
    document.addEventListener('astro:after-preparation', cleanup);
  });
</script>

<Layout
  title="Portfolio | About me | Duc Anh Dennis Nguyen | DepTrai"
  metaDescription="Explore the portfolio of Duc Anh Dennis Nguyen, a frontend developer specializing in web design and development with a focus on user experience."
>
  <div class="inner">
    <section class="content-area" id="hero">
      <div class="grid--default grid-2--tablet-portrait-up">
        <div class="grid-item">
          <h1>
            Hi, I'm <span class="text-gradient">Duc Anh Dennis Nguyen</span>
          </h1>
          <p class="subheading">
            I'm a <span class="underline">Frontend Developer</span>
          </p>
          <div class="info">
            <p>
              I am building things for the web and I'm specialized in building
              SEO-friendly, accessible and performant static websites.
            </p>
            <ButtonLink link="/fileadmin/cv.pdf" variant="ghost"
              >CV (EN)</ButtonLink
            >
            <ButtonLink link="/fileadmin/lebenslauf.pdf" variant="ghost"
              >CV (DE)</ButtonLink
            >
            <ButtonLink link="/projects" variant="ghost"
              >See my projects</ButtonLink
            >
          </div>
        </div>
        <div class="grid-item portfolio-photo">
          <div class="reflection-container">
            <!-- Generate 100 grid cells -->
            <a class="reflection-grid-cell reflection-grid-cell-1" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-2" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-3" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-4" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-5" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-6" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-7" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-8" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-9" href="#"></a>
            <a class="reflection-grid-cell reflection-grid-cell-10" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-11" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-12" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-13" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-14" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-15" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-16" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-17" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-18" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-19" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-20" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-21" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-22" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-23" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-24" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-25" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-26" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-27" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-28" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-29" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-30" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-31" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-32" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-33" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-34" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-35" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-36" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-37" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-38" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-39" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-40" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-41" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-42" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-43" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-44" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-45" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-46" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-47" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-48" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-49" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-50" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-51" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-52" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-53" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-54" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-55" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-56" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-57" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-58" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-59" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-60" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-61" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-62" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-63" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-64" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-65" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-66" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-67" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-68" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-69" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-70" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-71" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-72" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-73" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-74" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-75" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-76" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-77" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-78" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-79" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-80" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-81" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-82" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-83" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-84" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-85" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-86" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-87" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-88" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-89" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-90" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-91" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-92" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-93" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-94" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-95" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-96" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-97" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-98" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-99" href="#"
            ></a>
            <a class="reflection-grid-cell reflection-grid-cell-100" href="#"
            ></a>

            <div class="reflection-content"></div>
          </div>
          <!-- <Image
            src={profileImage}
            alt="Foto von Duc Anh Dennis Nguyen"
            height={400}
            width={400}
          /> -->
        </div>
      </div>
    </section>

    <section class="content-area">
      <article class="introduction">
        <h2>About Me</h2>
        <p>
          This page is a portfolio page and is a short introduction about me.<br
          />
          I am specialized in frontend development and have a passion for creating
          beautiful and functional websites.<br />
          Right now I'm learning and improving my Backend-Skills and -Understanding.
          With that I aspire to become a proficient Fullstack Developer and got interested
          in NestJS in particular.
        </p>
        <p>
          Currently I am working at <a
            class="link"
            href="https://www.dgn.de/"
            target="_blank">Deutsches Gesundheitsnetz</a
          > in Kaarst and live in Dusseldorf.
        </p>
        <p>
          I am always looking for new challenges and opportunities to learn and
          grow. So if you have any job offers be it <strong
            >fulltime or freelance</strong
          >, please feel free to <a class="link" href="/contact">contact me</a>.
        </p>
      </article>
    </section>
  </div>
</Layout>

<style lang="scss">
  @import '../styles/_base.scss';
  @import '../styles/_mixins.scss';
  @import '../styles/_animation.scss';

  .portfolio-photo {
    max-width: 300px;

    @include for-phone-only {
      margin: 0 auto;
    }

    img {
      border-radius: 5px;
    }
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .introduction {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 2.5rem;
    border-radius: 8px;
  }
  .introduction code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .introduction strong {
    color: rgb(var(--accent-light));
  }

  .underline {
    display: inline-block;
    position: relative;

    &::after {
      background-color: $color-primary-light;
      bottom: -3px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform 0.3s ease-out;
      width: 100%;
    }
  }

  h1,
  .subheading,
  .info,
  .portfolio-photo,
  .introduction {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease-out,
      transform 0.5s ease-out;
  }

  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  /* Add staggered delays */
  h1.fade-in {
    transition-delay: 0s;
  }
  .subheading.fade-in {
    transition-delay: 0.25s;
  }
  .underline.fade-in {
    transition-delay: 0.5s;
    &::after {
      transform: scaleX(1);
      transition: transform 0.3s ease-out 0.4s;
    }
  }
  .info.fade-in {
    transition-delay: 0.5s;
  }
  .portfolio-photo.fade-in {
    transition-delay: 0.5s;
  }
  .introduction.fade-in {
    transition-delay: 0.5s;
  }
</style>
