---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import profileImage from '../assets/img/portfolio-portrait.webp';
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="inner">
      <section class="content-area" id="hero">
        <div class="grid--default grid-2--tablet-portrait-up">
          <div class="grid-item">
            <h1>
              Hi, I'm <span class="text-gradient">Duc Anh Dennis Nguyen</span>
              and I'm a Frontend-Developer based in Dusseldorf
            </h1>
            <button class="btn--primary">Download CV</button>
            <button class="btn--primary">See my projects</button>
          </div>
          <div class="grid-item portfolio-photo">
            <Image
              src={profileImage}
              alt="Foto von Duc Anh Dennis Nguyen"
              height={400}
              width={400}
            />
          </div>
        </div>
      </section>

      <section class="content-area">
        <article class="introduction">
          <h2>About Me</h2>
          <p>
            This page is a portfolio page and is a short introduction about me.
          </p>
          <p>
            I am specialized in frontend development and have a passion for
            creating beautiful and functional websites.
          </p>
          <p>
            I am currently working at <a
              href="https://www.dgn.de/"
              target="_blank">Deutsches Gesundheitsnetz</a
            > in Kaarst, but live in Dusseldorf.
          </p>
          <p>
            I am always looking for new challenges and opportunities to learn
            and grow. So if you have any job offers be it <strong
              >fulltime or freelance</strong
            >, please feel free to contact me.
          </p>
        </article>
      </section>
    </div>
  </main>
</Layout>

<style lang="scss">
  .portfolio-photo {
    max-width: 300px;

    img {
      border-radius: 5px;
    }
  }
  .text-gradient {
    background-image: var(--accent-gradient);
   //  background-image: $color-primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .introduction {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 2.5rem;
    border-radius: 8px;
  }
  .introduction code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .introduction strong {
    color: rgb(var(--accent-light));
  }
</style>
