---

---

<nav class="nav-main">
  <button class="hamburger" aria-label="Toggle navbar">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="nav-list">
    <li class="nav-list__item"><a href="/">Home</a></li>
    <li class="nav-list__item"><a href="/career">Career</a></li>
    <li class="nav-list__item"><a href="/projects">Projects</a></li>
    <li class="nav-list__item"><a href="/contact">Contact</a></li>
  </ul>
</nav>

<script>
  const hamburger = document.querySelector('.hamburger');
  const navList = document.querySelector('.nav-list');
  const backdrop = document.querySelector('.backdrop');

  hamburger.addEventListener('click', () => {
    hamburger.classList.toggle('open');
    navList.classList.toggle('open');
    backdrop.classList.toggle('backdrop--visible');
  });
</script>

<style lang="scss">
  @import '../../styles/_base.scss';
  @import '../../styles/_mixins.scss';
  @import '../../styles/_functions.scss';

  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    width: 28px;
    z-index: 1000;

    @include for-tablet-portrait-up {
      display: none;
      position: relative;
    }

    span {
      background: $color-white;
      border-radius: 3px;
      display: block;
      height: 3px;
      left: 0;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      width: 100%;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }

    &.open {
      span:nth-child(1) {
        top: 10px;
        transform: rotate(135deg);
      }

      span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      span:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }

  .nav-list {
    margin: 0;
    padding: 0;

    @include for-phone-only {
      background-color: $color-background;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      height: 100vh;
      justify-content: flex-start;
      margin: 0;
      padding-block-start: 60px; //header-height
      position: fixed;
      right: -100%;
      top: 0;
      transition: right 0.3s ease;
      width: 75%;
      z-index: 10;

      &.open {
        right: 0;
      }
    }

    @include for-tablet-portrait-up {
      align-items: center;
      display: flex;
      gap: 2.5rem;
      justify-content: flex-end;
    }

    .nav-list__item {
      display: inline-flex;
      @include for-phone-only {
        padding-inline: 3rem;
      }
    }

    a {
      @include responsive-font-size(1.8rem, 2rem);
      color: inherit;
      line-height: 1.5;
      overflow: hidden;
      padding-block: 0.75rem;
      position: relative;
      text-decoration-line: none;
      transition: color 0.2s ease-in;
      width: auto;

      @include for-phone-only {
        @include responsive-font-size(2rem, 2.4rem);
      }

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &::before {
        border: 1px solid currentColor;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        transform-origin: center left;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
        width: 0;
      }

      &:hover::before,
      &:focus::before {
        transform: scale3d(1, 1, 1);
        width: 100%;
      }
    }
  }
</style>
