---
import Navbar from './Navbar.astro';
---

<header class="header">
  <div class="navbar">
    <div class="inner">
      <div class="logo__container">
         
      </div>
      <Navbar />
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    margin-block: 1.5rem;
  }
</style>
