---
// import Logo from '../assets/logo.svg';
---

<nav class="nav-main">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/career">Career</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  .nav-main {
    ul {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      justify-content: flex-end;
    }
  }
</style>
