---
import SocialMediaList from './SocialMediaList.astro';
---

<footer class="footer">
  <div class="inner inner--wide">
    <div class="footer__content">
      <SocialMediaList />
      <div class="footer-email">
        <a href="mailto:dennidnguyen@gmail.com">dennidnguyen@gmail.com</a>
      </div>
      <div class="text-center footer-copyright">
        <a href="https://github.com/DepTrai95/deptrai95.github.io">
          Designed and built by Duc Anh Dennis Nguyen ©
        </a>
      </div>
    </div>
  </div>
</footer>

<div class="backdrop"></div>

<style lang="scss">
  @import '../../styles/styles.scss';
  .footer {
    color: $color-white;
  }

  .footer-email {
    display: none;

    @include for-tablet-landscape-up {
      bottom: 0;
      display: flex;
      flex-direction: column;
      right: 40px;
      position: fixed;

      a {
        @include responsive-font-size(1.5rem, 1.6rem);
        color: $color-white;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-decoration: none;
        transition:
          transform 0.2s,
          color 0.2s;
        writing-mode: vertical-rl;

        &:hover {
          color: $color-primary;
          transform: translateY(-10px);
        }
      }

      &::after {
        background-color: $color-white;
        content: '';
        display: block;
        height: 50px;
        margin: 20px auto 0;
        width: 1px;
      }
    }
  }

  .footer-copyright {
    margin-block: 1.5rem;

    @include for-tablet-landscape-up {
      font-weight: 500;
      margin-block: 3rem;
    }

    a {
      color: $color-primary;
      text-decoration: none;
    }
  }
</style>
