---
import '../styles/styles.scss';
import IconList from '../components/icon/IconList.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  metaDescription: string;
}

const { title, metaDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content={metaDescription} />
    <meta name="keywords" content="Frontend Developer, Web Developer, Portfolio, Duc Anh Dennis Nguyen, DepTrai, JavaScript, HTML, CSS, React, Vue, SEO" />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph (OG) Tags for Social Media -->
    <meta property="og:title" content="Frontend Developer Portfolio | Duc Anh Dennis Nguyen" />
    <meta property="og:description" content="Portfolio of Duc Anh Dennis Nguyen also known as DepTrai, a frontend developer with expertise in creating engaging web experiences. Learn more about my projects and skills." />
    <meta property="og:url" content="https://deptrai.de" />
    <meta property="og:type" content="website" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <IconList />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  :root {
    --accent: 200, 55, 95;
    --accent-light: 240, 160, 185;
    --accent-dark: 130, 30, 60;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
</style>
